/* background.css */
body {
    background-image: url('squad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    margin: 0;
    padding: 0;
}
